[Desktop Entry]
Name=foobar2000
GenericName=Plays Music
Comment=Plays music
Type=Application
Exec=%BIN/foobar2000
Terminal=false
StartupNotify=true
MimeType=audio/basic;audio/vnd.wav;audio/x-wav;audio/x-aiff;audio/ogg;audio/vorbis;audio/x-vorbis+ogg;audio/mpeg;audio/mp4;audio/aac;audio/x-wavpack;application/vnd.apple.mpegurl
Categories=AudioVideo;Audio;Player
Icon=%ICON_DIR/foobar2000.png
